<!DOCTYPE HTML>
<head>
<title>Artists</title>
</head>
<body>
	<h1>Artists</h1>
	<form method="post">
		<input type="submit" id="add_artist">
	</form>
	<table id="artist_table">
		<thead>
			<th>Artist Name</th>
			<th>Prenom</th>
			<th>Surnom</th>
		</thead>
		<tbody id="rows">
		</tbody>
	</table>
</body>

	<script>
	fetch('http://localhost:5000/artists')
		.then(response => response.json())
		.then(data => create_table(data));

	func create_table(){
	var rows = document.querySelector('#rows');
	var row = document.createElement('tr');
	row.innerHTML = data;
	rows.appendChild(row)
	}
	</script>

