<!DOCTYPE HTML>
<head>
<title>Artists</title>
</head>
<body>
	<h1>Artists</h1>
	<form method="post">
		<input type="submit" id="add_artist">
	</form>
	<table id="artist_table">
		<thead>
			<th>Artist Name</th>
			<th>Prenom</th>
			<th>Surnom</th>
		</thead>
		<tbody id="rows">
		</tbody>
	</table>
</body>

<script>

function create_table(data){
	var rows = document.querySelector('#rows');
	data.forEach(function (r) {
		var row = document.createElement('tr');
		var td = document.createElement('td');
		td.innerHTML = r['artist_name'];
		row.appendChild(td);
		var td = document.createElement('td');
		td.innerHTML = r['prenom'];
		row.appendChild(td);
		rows.appendChild(row)
		var td = document.createElement('td');
		td.innerHTML = r['surnom'];
		row.appendChild(td);
		rows.appendChild(row)
	});
};

document.addEventListener("DOMContentLoaded", function(){

	console.log('ahefas');

	fetch('http://127.0.0.1:5000/artists')
		.then(response => response.json())
		.then(data => create_table(data));
});

</script>

